
 <article class="post">

  <header class="post-header">
    <h1 class="post-title">What is this blog about...</h1>
  </header>

  <div class="post-content">
    <p>
      This is just a basic blog.
    </p>
  </div>

</article>
