<h1>Post list</h1>
<div class="home">


<ul class="post-list">

  <%= for p <- posts do %>
  <li><span class="post-meta"><%= p[:date] %></span>
    <h3>
      <a class="post-link" href="<%= p[:url] %>">
        <%= p[:title] %>
      </a>
    </h3>
    <p class="abstract">
      <%= p[:abstract] %>
    </p>
  </li>


<% end %>
</ul>
</div>
